
body{
  background: lightgray;
  background-image:url("/assets/cahir.png");
  background-repeat:no-repeat;
  background-color:red;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary{
  background:#1976d2;
}

.example-container.mat-drawer-container.mat-sidenav-container{

}
