/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    background: #1a1a1a;
    height:100%;
    margin:0px;
    padding:0px;
    font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
}

.example-container[_ngcontent-c5][_ngcontent-c5]{
  /* Firefox */
  height: -moz-calc(100% - 64px);
  /* WebKit */
  height: -webkit-calc(100% - 64px);
  /* Opera */
  height: -o-calc(100% - 64px);
  /* Standard */
  height: calc(100% - 64px);
}

body{
  background-image:url("/assets/cahir.png");
  background-repeat:no-repeat;
}

a{
  cursor:pointer;
}

p{
  font-size:0.8em;
}

.mat-drawer-container{
  background-color:transparent;
}


.mat-toolbar .mat-toolbar-row span{
  color:#fff;
}


mat-card{
  width:90%;
  float: none;
  margin: 0 auto;
}

h4{
  margin:0;
  background:#0f3a64;
  color:#fff;
  padding:0px 1%;
}

app-fenianism, app-tipperary{
  width:90%;
}

app-tipperary{
  background-color:#fff;
}

.mat-tab-body{
  padding:10px 5% !important;
}
