<mat-grid-list cols="5" rowHeight="1:1">
  <mat-grid-tile class="tile1"></mat-grid-tile>
  <mat-grid-tile class="tile2"></mat-grid-tile>
  <mat-grid-tile class="tile3"></mat-grid-tile>
  <mat-grid-tile class="tile4"></mat-grid-tile>
  <mat-grid-tile class="tile5"></mat-grid-tile>
</mat-grid-list>

<mat-card>
  Fenians, Spies &amp; Army Mutiny: The Unravelling of the Tipperary IRB in 1865-66.
</mat-card>


<mat-grid-list cols="5" rowHeight="1:1">
  <mat-grid-tile class="tile6"></mat-grid-tile>
  <mat-grid-tile class="tile7"></mat-grid-tile>
  <mat-grid-tile class="tile8"></mat-grid-tile>
  <mat-grid-tile class="tile9"></mat-grid-tile>
  <mat-grid-tile class="tile10"></mat-grid-tile>
</mat-grid-list>
